{% extends "base.html" %}
{% load static %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
{% endblock extra_links %}

{% block app_content %}
<div class="page-content">
    <div class="page-head">
        {% block header %}
            <h1><a href="{% url 'blog:index' %}">/back/&amp;/beyond</a></h1>
        {% endblock header %}
    </div>
    {% block content %}
    {% endblock content %}
</div>
<aside class="page-sidebar">
    {% include "blog/includes/navbar.html" %}
</aside>

<footer>
    <div id="credits">
        <p>Made by Pedro Curado</p>
    </div>
</footer>
{% endblock app_content %}

{% block js %}
<script src="{% static 'blog/js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'blog/js/RelatedObjectLookup.js' %}"></script>
{% endblock js %}
