{% extends "base.html" %}

{% block content %}
    {% block posts %}
        {% if posts %}
            {% for post in posts %}
                <div class="post-block">
                    <h2>{{ post.title }} <span class="post-date">{{ post.date_created|date:'d M Y' }}</span></h2>
                    <div class="post-content">
                        {{ post.html_text|safe }}
                    </div>
                    <div class="post-footer">
                        {% if post.tags.all %}
                            <span class="tags">Tags:
                            {% for tag in post.tags.all %}
                                <a href="{% url 'blog:posts_in_tag' tag.slug  %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            </span>
                            <span class="edit"><a href="/admin/blog/posts/{{ post.id }}/change/">Edit post</a></span>
                        {% else %}
                            <span class="tags">No Tags assign to this post.</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4>No posts to display yet..</h4>
        {% endif %}
    {% endblock posts %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}

{% block side_nav %}
    <ul>
        <li><a href="/admin/blog/posts/add/">Create new post</a></li>
    </ul>
    {% if tags %}
        <div id="tags-block">
            <span class="widget-title">Tags:</span>
            <ul>
            {% for t_obj in tags %}
                <li><a href="{% url 'blog:posts_in_tag' t_obj.tag__slug %}">{{ t_obj.tag__name }}</a> {{ t_obj.tag__count }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock side_nav %}
