{% block blog_navigation %}
    <nav class="blog_navigation">

        <!-- search form -->
        {% block searchform %}
            <h3>Search</h3>
            <div id="search">
                <form action="/search/" method="get">
                    <input type="text" name="query">
                    <input type="submit" value="Search">
                </form>
            </div>
        {% endblock searchform %}

        <h3>Menu</h3>
        <ul>
            <li><a href="{% url 'blog:new-post' %}">Create New Post</a></li>
            <li><a href="{% url 'blog:new-tag' %}">Create New Tag</a></li>
        </ul>

        <!-- tags -->
        {% if tags %}
        <nav class="tags_menu">
            <h3>Tags</h3>
            <ul>
            {% for t_obj in tags %}
                <li><a class="{{ t_obj.css_class }}" href="#">{{ t_obj.tag__name }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </nav>
{% endblock blog_navigation %}