<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Back &amp; Beyond</title>
</head>
<body>
    <div id="main">
        <div id="header">
            {% block header %}
                <div id="header-title">
                    <h1>Back &amp; Beyond</h1>
                </div>
            {% endblock header %}
        </div>
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username:
            <input type="text" name="username" id="username" size="50" />
            <br />
            Password:
            <input type="password" name="password" id="password" size="50" />
            <br />
            <input type="submit" name="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</body>
</html>
