# pip install -r requirements/base.txt
coverage==4.3.4
certifi==0.0.8
dj-database-url==0.4.2
django-haystack>=1.0.0,<2.6.1
Django==1.9
elasticsearch>=1.0.0,<2.0.0
gunicorn==19.7.1
psycopg2==2.7.5
Markdown==2.6.8
psycopg2==2.7.5
Pygments==2.0.2
urllib3==1.22
whitenoise==3.3.0
