{% extends "blog/base.html" %}
{% load blog_tags %}

{% block content %}
    <!-- search results -->
    <section class="search_results">
        {% if "query" in request.GET %}
            <div class="results_header">
                <h3>Posts containing "{{ data.query }}"</h3>
                <p>Search returned {{ total_results }} result{{ total_results|pluralize }}</p>
            </div>
            {% for post in results %}
                <article class="post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title|highlight_search:data.query }}</a></h2>
                </article>
            {% endfor %}
        {% endif %}
    </section>

    <!-- blog navigation -->
    {% include "includes/blog_navigation.html" %}
{% endblock content %}
