<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Back &amp; Beyond</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/auth_style.css' %}" />
<body>
    <div id="login-page">
        {% block header %}
            <div class="page-head">
                <h1>/back/&amp;/beyond</h1>
            </div>
        {% endblock header %}
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="credentials">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div class="credentials">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <button>Login</button>
        </form>
    </div>
</body>
</html>
