@font-face {
    font-family: 'Abril FatFace';
    src: url('abrilfatface-regular-webfont.eot');
    src: url('abrilfatface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('abrilfatface-regular-webfont.woff2') format('woff2'),
         url('abrilfatface-regular-webfont.woff') format('woff'),
         url('abrilfatface-regular-webfont.ttf') format('truetype'),
         url('abrilfatface-regular-webfont.svg#abril_fatfaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
