/*reset elements margin and padding*/
html, body, h1, h2, h3, h4, h5, p, ul, ol, li, span, pre, code, div, img {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body, html {
    height: 100%;
}

body {
    color: #3E4349;
    background-color: #ECECEC;
    line-height: 1.4;
    font-size: 17px;
    /*font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";*/
    /*font-family: 'Trebuchet MS', sans-serif;*/
}

/*h1, h2, h3, h4 {
    font-family: 'Trebuchet MS', sans-serif;
}*/

a {
    color: #03c;
}


p {
    font-size: 19px;
}

#main {
    width: 75%;
    min-height: 100%;
    float: right;
    background-color: #FFFFFF;
    margin-right: 2em;
    padding-left: 1em;
    border-left: 3px solid #AAAAAA;
    border-right: 3px solid #AAAAAA;
}

/*side navigation*/
#side-nav {
    width: 19%;
    float: left;
    padding: 37px 0px 0px 17px;
}

#tags-block {
    margin-top: 15px;
}

#side-nav ul {
    list-style-type: square;
    margin-left: 20px;
}

/*main*/
h1 {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 63px;
    font-style: normal;
}

h1 a {
    text-decoration: none;
    color: #292929;
    letter-spacing: -4px;
}

h2 {
    margin: 0em 0.8em 1em 0em;
    font-style: normal;
    color: #444444;
}

h2 a:hover {
    color: #00B0E4;
    text-decoration: underline;
}

h3 {
    margin: 1.5em 0em 0.3em 0em;
    background-color: #70A070;
    color: #FFFFFF;
    border: 1px solid #609060;
    padding: 0em 0em 0em 0.2em;
}

/*post block*/
.post-block {
    margin: 1.5em 0em 1.5em;
    padding: 0px 20px 15px 0px;
}

.post-content ul {
    padding-left: 1em;
    margin-top: 1em;
}

.post-content ul li {
    font-size: 18px;
}

.post-footer {
    margin: 1em 1em 0em 1em
}

.post-content {
    margin: 0em 1em 0em 1em;
}

.post-content p {
    margin: 1em 0.3em 0em 0em;
}

span.post-date {
    float: right;
    font-size: 14px;
    font-weight: normal;
}

p {
    margin-bottom: 10px;
}

span.tags, span.edit {
    font-size: 15px;
}

span.tags {
    color: #555555;
}

span.edit {
    float: right;
}

p, .codehilite {
    padding: 0em 0em 0em 0.5em
}

/*code snippets*/
.codehilite pre {
    background: #FFFFFF none repeat scroll 0% 0%;
    border: 1px solid #909090;
    margin: 2em 0em;
}

code {
    background-color: #FFCA92;
    color: #C7254E;
    border-radius: 4px;
    font-size: 14px;
}

pre {
    font-size: 14px;
}

pre, code {
    padding: 5px;
    margin: 10px 0px;
    line-height: 1.7;
}
