/*reset elements margin and padding*/
html, body, h1, h2, h3, h4, h5, p, ul, ol, li, span, pre, code, div, img {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    color: #3E4349;
    background-color: #F0F0F0;
    line-height: 1.4;
    font-size: 17px;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
}

h1, h2, h3, h4 {
    font-family: 'Trebuchet MS', sans-serif;
}

a {
    color: #03c;
}


p {
    font-size: 19px;
}

#main {
    width: 75%;
    float: right;
    background-color: #FFFFFF;
    margin-right: 2em;
    padding-left: 1em;
    border-left: 3px solid #AAAAAA;
    border-right: 3px solid #AAAAAA;
}

/*side navigation*/
#side-nav {
    width: 19%;
    float: left;
    padding: 37px 0px 0px 17px;
}

#tags-block {
    margin-top: 15px;
}

#side-nav ul {
    list-style-type: square;
    margin-left: 20px;
}

/*main*/
h1 {
    /*font-family: 'Abril FatFace';*/
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
}

h1 a {
    text-decoration: none;
    color: #0072aa;
}

h2 {
    margin-bottom: 20px;
    font-style: normal;
    color: #444444;
}

h2 a:hover {
    color: #00B0E4;
    text-decoration: underline;
}

h3 {
    margin: 1.5em 0em 0.3em 0em;
}

/*post block*/
.post-block {
    margin: 1.5em 0em 1.5em;
    padding: 0px 20px 15px 0px;
}

.post-content {
    margin: 0em 1em 0em 1em;
}

.post-content p {
    margin: 0em 0.3em 0em 0.3em;
}

span.post-date {
    float: right;
    font-size: 14px;
    font-weight: normal;
}

p {
    margin-bottom: 10px;
}

span.tags, span.edit {
    font-size: 15px;
}

span.tags {
    color: #555555;
}

span.edit {
    float: right;
}

/*code snippets*/
.codehilite pre {
    background: #F0F0F0 none repeat scroll 0% 0%;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    margin: 2em 0em;
}


pre, code {
    padding: 5px;
    margin: 10px 0px;
    font-size: 13.5px;
    line-height: 1.7;
}
