:root {
    --normal-font-size: 16.5px;
}

/* ========== page posts ========== */
.page-content .post {
    clear: both;
}

.tags > h3 {
    color: #FF0000;
}

.page-content > h3:not(:first-child) {
    margin-top: 1.5em;
}

.blog_posts .post {
    padding: 0px 20px 15px 0px;
    margin: 0em 0em 2em 0em;
}

#search input[type="text"] {
    padding: 5px;
    font-family: monospace;
    width: 190px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
    font-size: var(--normal-font-size);
}

#search input[type="submit"] {
    font-size: 17px;
    border-radius: 0px;
    border-right: 2px solid #696969;
    border-bottom: 2px solid #696969;
    padding: 2px 6px;
}

.search_results .post {
    padding: 0px 20px 5px 0px;
    margin: 0em 0em 3em 0em;
}

.search_results .results_header {
    margin-bottom: 2.5em;
}

.search_results .highlighted {
    background-color: #EAE421;
    padding: 0.2em;
}

.blog_posts .post h2,
.search_results .post h2 {
    font-weight: normal;
}

.search_results .post h2 {
    margin-bottom: 0.3em;
}

.post h2 a {
    color: #353535;
}

.blog_posts .post_footer {
    margin-top: 0.5em;
}

.post_detail .post_footer {
    margin-top: 0.9em;
}

.post span.post-date {
    font-size: 14px;
    margin-right: 0.5em;
}

.page-content {
    margin: 2% 8%;
    overflow: hidden;
}

.page-content .blog_posts,
.page-content .post_detail,
.page-content .search_results,
.page-content .pagination {
    width: 70%;
    display: inline-block;
}

.page-content .pagination {
    margin: 1em 0em 3em;
}

.page-content .blog_navigation {
    float: right;
    width: 25%;
    padding: 0em 0em 0em 3em;
}

.blog_navigation ul {
    padding: 0.6em 0em 1em 0em;
}

.blog_navigation ul li {
    list-style-type: none;
    font-variant: all-petite-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    display: inline-block;
}

.blog_navigation .tag-cloud_small {
    font-size: 20px;
}

.blog_navigation .tag-cloud_medium {
    font-size: 25px;
    font-weight: bold;
}

.blog_navigation .tag-cloud_large {
    font-size: 30px;
    font-weight: bold;
}

.post-form {
    margin-top: 1.5em;
}

.post .post-content {
    clear: both;
    margin: 0;
    padding: 2.5em .1em;
}

.post-content p,
.post-content ul {
    margin-bottom: 15px;
}

.post-content ul {
    padding-left: 3em;
    list-style-type: square;
}

.post-content ul li {
    margin-bottom: 10px;
    font-size: var(--normal-font-size);
}

.post-content h2 {
    margin: 0px 0px 10px 0px
}

.section {
    margin-bottom: 2em;
}

.section h2 {
    font-weight: 400;
}

.codehilite {
    font-size: 16.5px;
}

.post-content h3 {
    margin: 0px 0px 15px;
    font-size: 20px;
}

.post-footer span.edit {
    float: right;
}

#id_title {
    width: 500px;
    display: block;
}

.post-form label {
    display: block;
}

#id_markdown_text {
    width: 85%;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#id_title,
#id_status,
#id_content {
    border-radius: unset;
    border: 1px solid #8A8A8A;
}

#id_title,
#id_markdown_text {
    padding: 5px 5px;
}

#id_title {
    font-family: monospace;
}

.title,
.markdown_text,
.status,
#id_tags {
    margin: 2px 0px 20px;
}

#id_status {
    display: block;
    width: 150px;
    padding: 2px;
    background-color: #FFFFFF;
}

#id_tags {
    width: 250px;
}

#id_tags {
    overflow: auto;
    height: 160px;
    border: 1px solid #989898;
    background-color: #FFFFFF;
}

.save {
    padding: 3px 10px;
}

textarea#id_content {
    width: 99.5%;
    height: 500px;
    font-size: 16.5px;
}

.not_bold {
    font-weight: normal;
}

/* tag page */
/* ======== */
.new-tag {
    margin-top: 2em;
}

.tag-form .name {
    margin: 2px 0px 20px;
    font-size: var(--normal-font-size);
}

.tag-form input[type="text"] {
    margin-left: 10px;
    width: 25%;
}

.btn-group .cancel {
    background-color: #a85252;
    padding: 4px 5px 1px 6px;
    border-bottom: 2px solid #830214;
    border-right: 2px solid #830214;
    color: #FFFFFF;
    margin-left: 5px;
}

.btn-group .save {
    background-color: #5AA3B6;
    color: #FFFFFF;
    border-top: 0px;
    border-left: 0px;
    border-right: 2px solid #026383;
    border-bottom: 2px solid #026383;
    padding: 1px 10px 2px 10px;
    font-size: 14px;
}

/* ======== side menu ======== */
#search form {
    padding: 0.6em 0em 1em 0em
}
