/* ========== page posts ========== */
.page-content .post {
    clear: both;
}

.tags > h3, .post-content h3 {
    color: #FF0000;
}

.page-content > h3:not(:first-child) {
    margin-top: 1.5em;
}

.posts .post {
    padding: 0px 20px 15px 0px;
    margin: 0em 0em 2em 0em;
}

.posts .post h2 {
    font-weight: normal;
}

.post h2 a {
    color: #C70038;
}

.post_footer {
    margin-top: 0.5em;
}

.post span.post-date {
    /*float: right;*/
    font-size: 14px;
    margin-right: 0.5em;
}

.page-content {
    margin: 2em 0em;
}

.page-content .posts {
    width: 70%;
    display: inline-block;
}

.page-content .tags_menu {
    float: right;
    width: 25%;
    padding: 0em 0em 0em 3em;
}

.page-content .tags_menu ul {
    padding: 0.5em 0em 0em 1.5em;
}

.page-content .tags_menu ul li {
    list-style-type: square;
    font-variant: all-petite-caps;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}

.page-content .tags_menu ul li a {
    color: #C70038;
}

.post-form {
    margin-top: 1.5em;
}

.post .post-content {
    clear: both;
    margin: 0;
    padding: 1.5em .1em;
}

.post-content p,
.post-content ul {
    margin-bottom: 15px;
}

.post-content ul {
    padding-left: 3em;
    list-style-type: square;
}

.post-content ul li {
    margin-bottom: 5px;
}

.post-content h3 {
    margin: 0px 0px 15px;
    font-size: 20px;
}

.post-footer span.edit {
    float: right;
}

#id_title {
    width: 500px;
    display: block;
}

.post-form label {
    display: block;
}

#id_markdown_text {
    width: 85%;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.save,
#id_title,
#id_status,
#id_content {
    border-radius: unset;
    border: 1px solid #8A8A8A;
}

#id_title,
#id_markdown_text {
    padding: 5px 5px;
}

.title,
.markdown_text,
.status,
#id_tags {
    margin: 2px 0px 20px;
}

#id_status {
    display: block;
    width: 150px;
    padding: 2px;
}

#id_tags {
    width: 250px;
}

#id_tags {
    overflow: auto;
    height: 160px;
    border: 1px solid #989898;
}

.save {
    padding: 3px 10px;
}

textarea#id_content {
    width: 800px;
    height: 500px;
}
