:root {
    --normal-font-size: 16.5px;
}

/* ========== page posts ========== */
.page-content .post {
    clear: both;
}

.tags > h3 {
    color: #FF0000;
}

.page-content > h3:not(:first-child) {
    margin-top: 1.5em;
}

.blog_posts .post {
    margin: 0em 0em 2em 0em;
    padding: 0px 20px 15px 0px;
}

.search_results .post {
    margin: 0em 0em 3em 0em;
    padding: 0px 20px 5px 0px;
}

.search_results .results_header {
    margin-bottom: 2.5em;
}

.search_results .highlighted {
    background-color: #EAE421;
    padding: 0.2em;
}

.blog_posts .post h2,
.search_results .post h2 {
    font-weight: normal;
}

.search_results .post h2 {
    margin-bottom: 0.3em;
}

.post h2 a {
    color: #353535;
}

.blog_posts .post_footer {
    margin-top: 0.5em;
}

.post_detail .post_footer {
    margin-top: 0.9em;
}

.post span.post-date {
    font-size: 14px;
    margin-right: 0.5em;
}

.page-content {
    margin: 2% 8%;
    overflow: hidden;
}

.page-content .blog_posts,
.page-content .post_detail,
.page-content .search_results,
.page-content .pagination {
    display: inline-block;
    width: 65%;
}

.page-content .pagination {
    margin: 1em 0em 3em;
}

.page-content .blog-navigation {
    float: right;
    padding: 0em 0em 0em 3em;
    width: 30%;
}

.post-form {
    margin-top: 1.5em;
}

.post .post-content {
    clear: both;
    margin: 0;
    padding: 2.5em .1em;
}

.post-content p,
.post-content ul {
    margin-bottom: 15px;
}

.post-content ul {
    list-style-type: square;
    padding-left: 3em;
}

.post-content ul li {
    font-size: var(--normal-font-size);
    margin-bottom: 10px;
}

.post-content h2 {
    margin: 0px 0px 10px 0px
}

.section {
    margin-bottom: 2em;
}

.section h2 {
    font-weight: 400;
}

.codehilite {
    font-size: 16.5px;
}

.post-content h3 {
    font-size: 20px;
    margin: 0px 0px 15px;
}

.post-footer span.edit {
    float: right;
}

#id_title {
    display: block;
    width: 500px;
}

#id_markdown_text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 300px;
    width: 85%;
}

#id_title,
#id_status,
#id_content {
    border-radius: unset;
    border: 1px solid #8A8A8A;
}

#id_title,
#id_markdown_text {
    padding: 5px 5px;
}

.title,
.markdown_text,
#id_tags {
    margin: 2px 0px 20px;
}

#id_status {
    background-color: #FFFFFF;
    display: block;
    padding: 2px;
    width: 150px;
}

#id_tags {
    width: 250px;
}

.save {
    padding: 3px 10px;
}

.not_bold {
    font-weight: normal;
}

/* new post page */
/* ============= */
.post-form .content,
.post-form .status,
.post-form .tags {
    float: left;
}

.post-form label {
    display: block;
    font-size: var(--normal-font-size);
}

.post-form .content label,
.post-form .title label,
.post-form .tags label {
    margin-bottom: 3px;
}

.post-form .content {
    width: 73%;
    margin: 0% 5% 1% 0%;
}

#id_title {
    font-family: monospace;
    font-size: var(--normal-font-size);
}

.post-form .content textarea#id_content {
    font-size: 16.5px;
    height: 460px;
    padding: 5px 4px;
    width: 99%;
}

#id_tags {
    background-color: #FFFFFF;
    border: 1px solid #989898;
    height: 300px;
    overflow: auto;
}

.post-form .btn-group {
    clear: both;
}

/* tags page */
/* ======== */
.new-tag {
    margin-top: 2em;
}

.tag-form .name {
    font-size: var(--normal-font-size);
    margin: 2px 0px 20px;
}

.tag-form input[type="text"] {
    margin-left: 10px;
    width: 25%;
}

.btn-group .cancel {
    background-color: #a85252;
    border-bottom: 2px solid #830214;
    border-right: 2px solid #830214;
    color: #FFFFFF;
    margin-left: 5px;
    padding: 4px 5px 2px 6px;
}

.btn-group .cancel:hover {
    background-color: #9E0B0B;
    text-decoration: none;
}

.btn-group .save {
    background-color: #5AA3B6;
    border-bottom: 2px solid #026383;
    border-left: 0px;
    border-right: 2px solid #026383;
    border-top: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    padding: 1px 10px 2px 10px;
}

.btn-group .save:hover {
    background-color: #23B0D7;
}

/* side menu */
/* ========= */
#search, .sidebar-menu {
    margin-bottom: 1em;
}

#search input[type="text"] {
    border-radius: 0px;
    border: 1px solid #CCCCCC;
    font-family: monospace;
    font-size: var(--normal-font-size);
    padding: 5px;
    width: 75%;
}

#search input[type="submit"] {
    border-bottom: 2px solid #696969;
    border-radius: 0px;
    border-right: 2px solid #696969;
    font-size: 17px;
    padding: 2px 6px;
}

.blog-navigation ul {
    padding: 0.6em 0em 1em 0em;
}

.tags-menu {
    overflow: hidden;
    width: 100%;
}

.sidebar-menu ul,
.tags-menu ul {
    list-style: none;
}

.sidebar-menu ul li,
.tags-menu ul li {
    font-size: var(--normal-font-size);
    margin-bottom: 7px;
}

.tags-menu ul li {
    min-width: 47%;
    float: left;
    width: 190px;
}

.tags-menu ul li.odd_tag {
    margin-right: 15px;
}

#search form {
    padding: 0.6em 0em 1em 0em;
    width: 100%;
}
