/* ========== reset elements margin and padding ========== */
html, body, h1, h2, h3, h4, h5, p, ul, ol, li, span, pre, code, div, img {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

#login-page {
    display: block;
    margin: 2% 4%;
}

.page-head {
  display: block;
  width: 100%;
  clear: both;
}

.page-head h1 {
    color: #333333;
    margin: .7em auto;
    font-family: monospace;
    font-size: 2.8em;
    text-align: center;
}

.page-head h1 a {
    text-decoration: none;
    color: #292929;
    letter-spacing: 0px;
}

/* ========== login form ========== */
#login_form {
    width: 300px;
    margin: 4em auto;
    display: block;
}

.credentials {
    margin-bottom: 8px;
}

#login_form .nonfield {
    color: #FF0000;
    list-style: none;
    margin-bottom: 1em;
    line-height: 150%;
}

#login_form .errorlist {
    color: #FF0000;
    list-style: none;
    margin: 1em 0em 0.5em;
}

#login_form label {
    float: left;
    width: 80px;
    padding: 5px 0px;
}

#login_form input {
    width: 66.5%;
    padding: 5px 3px;
    border: 1px solid #808080;
    margin-left: 10px;
}

#login_form button {
    width: 100%;
    padding: 5px 0px;
    border: 1px solid #808080;
}
