:root {
    --color-red: #AD0727;
    --color-black: #292828;
}

/* reset elements margin and padding */
/* ================================= */
html, body, h1, h2, h3, h4, h5, p, ul, ol, li, span, pre, code, div, img {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #FFFFFF;
    color: #3F3F3F;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}


aside, article {
    display: block;
}

a {
    color: var(--color-red, #AD0727);
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

p {
    line-height: 1.49;
    font-size: 18px;
    font-family: 'open_sansregular';
}

h2 {
    font-family: 'open_sanssemibold';
}

/* ========== page ========== */
#page {
    flex: 1 0 auto;
}

#page, #login-page {
    display: block;
}

.page-head {
  display: block;
  width: 84%;
  overflow: hidden;
  border-bottom: 2px solid var(--color-red, #AD0727);
  margin: 0 auto;
}

.header {
    float: left;
}

.header h1 {
    font-size: 1.7em;
    /*color: #292828;*/
    margin: 0.2em auto 0.2em;
}

.header h1 a {
    text-decoration: none;
    color: var(--color-black, #292828);
}

.menu {
    float: right;
    margin: 0.67em 0em;
}

.menu ul li {
    display: inline-block;
    font-size: 1.2em;
    margin: 0em 0em 0em 0.5em;
}

.menu ul li a {
    color: var(--color-red, #AD0727);
}

/* ========== footer ========== */
.footer {
    flex-shrink: 0;
    padding: 0em 2em 2em;
}

.footer a {
    text-decoration: none;
    margin-left: 0.2em;
}

.icon-brands::before {
    font-family: "Font Awesome 5 Brands";
    color: var(--color-red, #AD0727);
}

.linkedin::before {
    content: "\f0e1";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-size: 1.5em;
 }

.github::before {
    content: "\f09b";
    font-size: 1.5em;
}

#credits p {
    text-align: right;
}
