{% extends "base.html" %}
{% load static %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
{% endblock extra_links %}

{% block app_content %}
    <div class="page-content">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock app_content %}

{% block js %}
<script src="{% static 'blog/js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'blog/js/RelatedObjectLookup.js' %}"></script>
{% endblock js %}
