{% extends "blog/base.html" %}

{% block content %}
    <h3>Editing Post: {{ posts.title }}</h3>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="{{ field.name }}">
            <label>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'blog:view-post' posts.slug %}" class="cancel">Cancel</a>
    </form>
{% endblock %}
