{% extends "blog/base.html" %}

{% block content %}
{% spaceless %}
    <h3>New post</h3>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="{{ field.name }}">
            {% if field.label == 'Tags' %}
                <label>{{ field.label }} <span><a href="{% url 'blog:new-tag-popup' %}?_to_field=id" id="add_{{ field.auto_id }}" onclick="return showAddAnotherTagPopup(this);">+ Create new tag</a></span></label>
            {% else %}
                <label>{{ field.label }}</label>
            {% endif %}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'blog:index' %}" class="cancel">Cancel</a>
    </form>
{% endspaceless %}
{% endblock %}