<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Back &amp; Beyond</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
<body>
    {% spaceless %}
    <div id="page">
    <h1>New tag</h1>
    <form method="POST" class="tag-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="{{ field.name }}">
            <label>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-save">Save</button>
        <a href="#" onclick="window.close();return false;" class="btn btn-cancel">Cancel</a>
    </form>
    </div>
    {% endspaceless %}
</body>
</html>
