/* ========== page posts ========== */
.page-content .post {
    clear: both;
}

.widget > h3, .post-content h3 {
    color: #FF0000;
}

.page-content > h3:not(:first-child) {
    margin-top: 1.5em;
}

.page-content .post {
    padding: 0px 20px 15px 0px;
}

.post span.post-date {
    float: right;
    font-size: 14px;
}

.page-content {
    display: block;
    float: right;
    width: 75%;
}

.post-form {
    margin-top: 1.5em;
}

.post .post-content {
    clear: both;
    margin: 0;
    padding: 1.5em .1em;
}

.post-content p,
.post-content ul {
    margin-bottom: 15px;
}

.post-content ul {
    padding-left: 3em;
    list-style-type: square;
}

.post-content ul li {
    margin-bottom: 5px;
}

.post-content h3 {
    margin: 0px 0px 15px;
    font-size: 20px;
}

.post-footer span.edit {
    float: right;
}

#id_title {
    width: 500px;
    display: block;
}

.post-form label {
    display: block;
}

#id_markdown_text {
    width: 85%;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.save,
#id_title,
#id_status,
#id_markdown_text {
    border-radius: unset;
    border: 1px solid #8A8A8A;
}

#id_title,
#id_markdown_text {
    padding: 5px 5px;
}

.title,
.markdown_text,
.status,
#id_tags {
    margin: 2px 0px 20px;
}

#id_status {
    display: block;
    width: 150px;
    padding: 2px;
}

#id_tags {
    width: 250px;
}

#id_tags {
    overflow: auto;
    height: 160px;
    border: 1px solid #989898;
}

.save {
    padding: 3px 10px;
}
