<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Back &amp; Beyond</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/codehilite.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'fonts/stylesheet.css' %}" />
{% block extra_links %}
{% endblock extra_links %}
<body>
    <div id="page">
        <div class="page-head">
            <div class="header">
                {% block header %}
                    <h1><a href="{% url 'blog:index' %}">/back/&amp;/beyond</a></h1>
                {% endblock header %}
            </div>
            {% include "includes/navbar.html" %}
        </div>
        {% block app_content %}
        {% endblock app_content %}
    </div>
{% block js %}
{% endblock js %}
</body>
</html>
