<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Back &amp; Beyond</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/auth_style.css' %}" />
<body>
    <div id="login-page">
        {% block header %}
            <div class="page-head">
                <h1>/back/&amp;/beyond</h1>
            </div>
        {% endblock header %}
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <div class="credentials">
                <label>Username:</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div class="credentials">
                <label>Password:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <input type="submit" name="submit" id="login_button" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</body>
</html>
