<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Back &amp; Beyond</title>
</head>
<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'notifications/css/style.css' %}" />
<body>
{% block content %}
{% endblock content %}
<script src="{% static 'jquery-3.2.1/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jquery.countdown-2.1.0/jquery.countdown.js' %}"></script>
<script type="text/javascript">
  $(function() {
      var deadline = $('#page').find('.deadline');
          deadline = deadline.attr('data-deadline');

      $('.counter h3').countdown(deadline, function(event) {
        $(this).html(event.strftime('%-D Day%!D %H:%M:%S'));
      });
    });
</script>
</body>
</html>
