{% extends "notifications/base.html" %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-12 page">
      {% for notification in object_list %}
        <h3 class="title">{{ notification.title }}</h3>
        <span class="deadline" data-deadline="{{ notification.deadline|date:'Y/m/d H:i:s' }}" hidden></span>
        <div class="counter"><h3></h3></div>
        <p class="message">{{ notification.message }}</p>

        <div class="thumbnail">
            <img src="{{ notification.image.url }}" class="img-responsive" />
        </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}
